html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

/* score panel */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* icons */
.score-panel .stars li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
.restart {
  cursor: pointer;
}
/* Game Board */
.deck {
  width: 800px;
  min-height: 600px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}
.game-board li {
  list-style: none;
}
.cards {
  width: 150px;
  height: 110px;
  background-color: #2e3d49;
  color: white;
  font-size: 0;
  border-radius: 10px;
  margin: 2px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
  cursor: pointer;
}

/* 
*Styling the cards 
*/
.show {
  font-size: 50px;
}
.open {
  transform: rotateY(0);
  background-color: #02b3e4;
  cursor: default;
}
.match {
  cursor: default;
  background-color: #02ccba;
  font-size: 50px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}
.unmatch {
  cursor: default;
  background-color: #be2105;
  font-size: 50px;
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.5s;
}
.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/* 
* Winning medal style
*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 85%;
  position: relative;
  /* transition: all 5s ease-in-out; */
  font-family: "Gloria Hallelujah", cursive;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #e5f720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}
#play-again {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: "Gloria Hallelujah", cursive;
  color: #ffffff;
  border-radius: 5px;
}
/* 

*making responsive
 */
@media (max-width: 800px) {
  .cards {
    width: 142px;
    height: 70px;
  }
  .deck {
    width: 100vw;
    min-height: 500px;
  }
}
@media (max-width: 650px) {
  .cards {
    width: 112px;
    height: 70px;
  }
  .deck {
    width: 100vw;
    min-height: 400px;
  }
}
@media (max-width: 550px) {
  .cards {
    width: 91px;
    height: 60px;
  }
  .deck {
    width: 100vw;
  }
}
@media (max-width: 450px) {
  .cards {
    width: 72px;
    height: 55px;
  }
  .deck {
    width: 100vw;
  }
}
@media (max-width: 380px) {
  .cards {
    width: 60px;
    height: 50px;
  }
  .deck {
    width: 100vw;
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
