html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

/* score panel */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* icons */
.score-panel .stars li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
.restart {
  cursor: pointer;
}
/* Game Board */
.deck {
  width: 800px;
  min-height: 600px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}
.game-board li {
  list-style: none;
}
.cards {
  width: 150px;
  height: 110px;
  background-color: #2e3d49;
  color: white;
  font-size: 0;
  border-radius: 10px;
  margin: 2px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
  cursor: pointer;
}

/* 
*Styling the cards 
*/
.faceup {
  font-size: 50px;
}
.facedown {
  font-size: 0;
}
.open {
  transform: rotateY(0);
  background-color: #02b3e4;
  cursor: default;
}
.match {
  cursor: default;
  background-color: #02ccba;
  font-size: 50px;
}
.disabled {
  font-size: 0;
  color: #2e3d49;
}

/* 
* Winning medal style
*/
.win-board {
  width: 800px;
  height: 600px;
  padding: 32px;
  margin: 0 0 3em;
  border-radius: 10px;
  background-color: rgba(46, 61, 73, 0.5);
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.medal {
  display: flex;
}
.medal .win-icon {
  color: #02ccba;
  font-size: 144px;
}
.medal .win-banner {
  font-size: 48px;
}
.medal .win-summary {
  font-size: 32px;
  text-align: center;
}
.medal .win-button {
  background-color: #02ccba;
}
.hide {
  display: none;
}
/* 

*making responsive
 */
@media (max-width: 800px) {
  .cards {
    width: 140px;
    height: 70px;
  }
  .deck {
    width: 100vw;
    min-height: 500px;
  }
}
@media (max-width: 650px) {
  .cards {
    width: 112px;
    height: 70px;
  }
  .deck {
    width: 100vw;
    min-height: 400px;
  }
}
@media (max-width: 550px) {
  .cards {
    width: 91px;
    height: 60px;
  }
  .deck {
    width: 100vw;
  }
}
@media (max-width: 450px) {
  .cards {
    width: 72px;
    height: 55px;
  }
  .deck {
    width: 100vw;
  }
}
@media (max-width: 380px) {
  .cards {
    width: 60px;
    height: 50px;
  }
  .deck {
    width: 100vw;
  }
} ;
